.novosti2-slika {
  background-image: url(../ImageAndVideo/novost2.jpg);
  margin-top: 2.9rem;
  height: 400px;
  z-index: 3;
}

.novosti2-text {
  position: relative;
  top: 50%;
  transform: translateY(-70%);
  text-align: center;
}

.novosti2-text p {
  font-weight: bold;
  font-size: 50px;
  width: 60%;
  text-align: left;
  margin-left: 22%;
}

.novosti2 {
  text-align: center;
  margin-top: 2rem;
}

.novosti2 h1 {
  border-bottom: 4px solid gold;
  padding-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
}

.paragraf {
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.paragraf p {
  margin: auto;
  width: 60%;
  font-size: 20px;
}

@media only screen and (max-width: 1477px) {
  .novosti2-text p {
    font-size: 45px;
  }
}

@media only screen and (max-width: 1092px) {
  .novosti2-text p {
    font-size: 40px;
  }
}

@media only screen and (max-width: 759px) {
  .novosti2-text p {
    font-size: 35px;
  }
}

@media only screen and (max-width: 733px) {
  .novosti2-text p {
    font-size: 30px;
  }
}

@media only screen and (max-width: 550px) {
  .novosti2-text p {
    font-size: 25px;
  }
}

@media only screen and (max-width: 411px) {
  .novosti2-text p {
    font-size: 20px;
  }
}
